<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MovieDetector: Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!https://www.w3schools.com/bootstrap/bootstrap_get_started.asp/> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">


</head>

<body>
  <div class="container">
    <h1>Greeting</h1>
    <h1>Welcome to Movie Detector</h1>
    <img class="displayed" src="static/img/movie.jpg">
    <!https://getbootstrap.com/docs/4.0/components/buttons/> <h3><a href="./search" class="btn btn-warning" role="button">Let's SEARCH!!!</a></h3>
  </div>
</body>

</html>