<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!https://www.w3schools.com/bootstrap/bootstrap_get_started.asp/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
    body{background: #2f2f2f; color: white; margin-left: 48px; font-family: "Helvetica Neue"}
    h1{margin-bottom: 32px}
    p{margin-top: 25px; position:absolute; right: 1px;}
    h3{border-color:rgb(80,200,80); border-style:solid; border-width:10px;}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
  <div class="col-sm-8"><h1>Make Your Watchlist!</h1>

      <h3><iframe width="595" height="336" src="{movie_url}" frameborder="0" allowfullscreen></iframe></h3> #wait for official URL
      <h2><a href = "{{ url }}" class="btn btn-success" role="button">Check this out!!</a></h2></div>
  <div class="col-sm-4"><p><a href = "/test" class="btn btn-success" role="button">Return to Watchlist</a></p></div>
</div>
</div>
</body>
</html>