<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta charset="utf-8">

  <title> MovieDetector </title>
  <style>
    body {
      background: black;
      color: white;
    }

    h3 {
      text-align: center;
    }
  </style>
</head>

<body>
    {% block body %}
    <h2>Please Log-in to use Watchlist</h2>
    {% if session['name'] %}
    Hello {{ session['name'] }}!
    {% else %}

    Sign in with Facebook.

      <h3><iframe width="595" height="336" src="{movie_url}" frameborder="0" allowfullscreen></iframe></h3> #wait for official URL
      <h2><a href = "{{ url }}" class="btn btn-success" role="button">Check this out!!</a></h2></div>
  <div class="col-sm-4"><p><a href = "/test" class="btn btn-success" role="button">Return to Watchlist</a></p></div>
</div>
</div>

    <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='img/sign-in2.png') }}" alt="sign in"></a>
    {% endif %}
    {% endblock %}

  <div class="container-fluid">
    <h3>MovieDetector</h3>
    <div class="list-group">
      {% for i in ret %}
      {{i}}
      {% endfor %}
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript">
    function getMovie(button) {
      let movie = document.getElementById(button.id);
      return movie.id;
    };
  </script>
</body>

</html>