<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title> MovieDetector</title>
      <style>
          body{background: black; color: white;}
          h3{text-align: center; font-size: 48px}
      </style>
  </head>
  <body>
  {% block body %}
    <h2>Please Log-in to use Watchlist</h2>
    {% if session['name'] %}
    Hello {{ session['name'] }}!
    {% else %}

    Sign in with Facebook.

    <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='img/sign-in2.png') }}" alt="sign in"></a>
    {% endif %}
    {% endblock %}

    <h3>MovieDetector</h3>
    <i>Search Movie Title </i>
    <form action="/test" method="POST">
    <input type="text" name="title">
    <input type="submit" name="submit">
    </form>
    {% for i in movies %}
        <p>{{ i.title }}</p>
        <img class = "clickable" style = "width:10%" src = {{ i.poster }}>
        <p>{{ i.overview }}</p>
    {% endfor %}
  </body>
</html>
