<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title> MovieDetector</title>
      <style>
          body{background: black; color: white;}
          h3{text-align: center;}
      </style>
  </head>
  <body>
    <h3>MovieDetector</h3>
    <i>Enter movie id </i>
    <form action="/test" method="POST">
    <input type="text" name="id">
    <input type="submit" name="submit">
    </form>
    {% if x %}
    {% for movie in x %}
    <p>{{ movie }}</p>
    {% endfor %}
    {% endif %}

  </body>
</html>