<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title> MovieDetector</title>
      <style>
          body{background: black; color: white;}
          h3{text-align: center;}
      </style>
  </head>
  <body>
    <h3>MovieDetector</h3>
    <i>Search Movie Title </i>
    <form action="/test" method="POST">
    <input type="text" name="title">
    <input type="submit" name="submit">
    </form>
    {% for title in movies %}
    <p>{{ title }}</p>
    {% endfor %}

  </body>
</html>
