<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieDetector: Welcome</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <!https://getbootstrap.com/docs/3.3/getting-started/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body{background: url('static/img/MovieBG.jpg'); color: springgreen; margin-left: 48px; font-family: "Helvetica Neue"}
    h1{margin-top: 90px; margin-bottom: 80px; text-align: center; font-size: 72px}
    h3{text-align: center;}
    .btn{font-size: 36px;}
    img.displayed{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:90px;}
    </style>

</head>
<body>
<div class="container">
    <h1>Greeting</h1>
    <h1>Welcome to Movie Detector</h1>
    <img class="displayed" src="static/img/movie.jpg">
    <!https://getbootstrap.com/docs/4.0/components/buttons/>
    <h3><a href = "{{ url_for('detect') }}"class="btn btn-warning" role="button">Let's SEARCH!!!</a></h3>
    </div>
</body>
</html>