<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type='text/javascript' src='Macintosh HD⁩/Users⁩/sumaraali⁩/Documents⁩/2019⁩/CS⁩/MovieDetector⁩/ezira⁩/index.js'></script>
    <title> MovieDetector</title>
  </head>
  <body>
    <h1>MovieDetector</h1>
    <<!-- h1>Our Post Page!</h1>
      <% genre.forEach(function(genre){ %>
      <li><%= genre[i].title %> - <%= genre[i].name %> </li>
      <% }) %> -->
    <i>Enter movie id </i>
    <input type="text" id="movieid" />
    <input type="button" value="submit" id="btn" onclick="myScript(movieid)"/>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
   <script>
    function myScript(search) {
      $( "body" ).append( "<p>Test</p>" );
        $(document).ready(function(){
            $("a").click(function(event){
                $.ajax({
                    url: "https://api.themoviedb.org/3/movie/343611?api_key=fa03116693262062589d14a72cc612d0",
                dataType: 'jsonp',
                success: function(data){
                      alert("hi");
                }
               });
            });
         });
    }
   </script>

  </body>
</html>