<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> MovieDetector</title>
  </head>
  <body>
    <h1>MovieDetector</h1>
    <h1>Our Post Page!</h1>
      <% genres.forEach(function(genres){ %>
      <li><%= genres[i].title %> - <%= genres[i].name %> </li>
      <% }) %>
  </body>
</html>
